  /*
  table tr > td {
       vertical-align:top;
  }
  td>p,td>ul,td>ol,td>blockquote,td>.td-text-area {
      position: absolute;
  }
  */

  .reveal table th, .reveal table td {
      text-align: left;
      padding: 0;
  }

  .table-real table {
      margin: 0;
      width: 100%;
      border: 1px solid white;
  }

  .table-real table th, .table-real table td {
      padding: 0.1em;
      border: 1px solid white;
  }


  .table-real.no-border table th, .table-real.no-border table td {
    padding-left: 0.5em;
    border-left: none;
    border-right:none;
  }
